.footer {
  background-color: var(--bg-card-bg-2);
  padding-top: 120px;
  padding-bottom: 40px;
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    .copyright {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--white-2);
    }
    .actions {
      display: flex;
      gap: 30px;
    }
    .button {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.inner {
  display: grid;
  gap: 60px;
}

.content {
  display: flex;
  gap: 30px;
  .group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .link {
    font-size: var(--font-size-base);
  }
  .additional {
    font-size: var(--font-size-sm);
    color: var(--primary-9);
  }
}
