.wrapper {
  position: relative;
}

.content {
  display: grid;
  gap: 80px;
  max-width: 780px;
  padding: 146px 0;
}

.header {
  align-items: flex-start !important;
}

.actions {
  display: flex;
  gap: 30px;
  .button {
    //???:
  }
}

.bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  .imageL {
    position: relative;
    right: -140px;
  }
}
