.button {
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;//???:
  }
}
.default {
  background: transparent;
  color: var(--white);
}
.primary {
  background: var(--primary-9);
  color: var(--white);
}
.outline {
  border: 1px solid var(--white);
  color: var(--white);
}
.sm {
  font-size: var(--font-size-base);
  padding: 6px 14px;
}
.md {
  font-size: var(--font-size-lg);
  padding: 12px 20px;
}
.lg {
  font-size: var(--font-size-xl);
  padding: 12px 24px;
}
