.section_header {
  display: flex;
  gap: 30px;
  align-items: center;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
}

.section_description {
  font-size: var(--font-size-md);
  line-height: 156%;
  text-align: center;
}

.title {
  font-weight: 600;
  color: var(--white);
  font-size: var(--font-size-xl);
  &.section_title {
    font-size: var(--font-size-4xl);
  }
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
