.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -1;
  padding-right: 196px;
}
.wrapper {
  display: flex;
  padding-left: 165px;
  height: 100vh;
  width: 100vw;
  padding-top: 247px;
}

.content {
  max-width: 510px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
