.inner {
  display: grid;
  gap: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters {
  display: flex;
  gap: 30px;
  font-size: var(--font-size-lg);
  line-height: 160%;
  li {
    cursor: pointer;
  }
}
.content {
  display: flex;
  gap: 30px;
}
.action {
  margin: 0 auto;
}
.button {
  width: 240px;
}
